<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <context:component-scan base-package="cc.changic.platform"/>


    <!--<bean id="httpServer" class="cc.changic.platform.etl.schedule.http.HttpServer">-->
    <!--<constructor-arg name="port" value="8080"/>-->
    <!--</bean>-->

    <!-- 调度配置 -->
    <bean id="schedulerFactory" class="org.quartz.impl.StdSchedulerFactory">
        <constructor-arg name="fileName" value="quartz.properties"/>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- mybatis文件配置，扫描所有mapper文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:configLocation="classpath:mybatis-config.xml"
          p:mapperLocations="classpath:mapper/*.xml"/>

    <!--spring与mybatis整合配置，扫描所有dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="cc.changic.platform.etl.base.dao"
          p:sqlSessionFactoryBeanName="sqlSessionFactory"/>

    <!-- 核心数据源 -->
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
          destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriod" value="6"/>
        <property name="idleMaxAge" value="240"/>
        <property name="maxConnectionsPerPartition" value="30"/>
        <property name="minConnectionsPerPartition" value="10"/>
        <property name="partitionCount" value="1"/>
        <property name="acquireIncrement" value="5"/>
        <property name="statementsCacheSize" value="100"/>
        <property name="releaseHelperThreads" value="3"/>
    </bean>

    <!-- netty客户端，用于连接远程服务器拉取数据-->
    <bean class="cc.changic.platform.etl.schedule.net.Client" scope="prototype">
        <constructor-arg name="port" value="10000"/>
    </bean>

    <!-- netty相关配置-->
    <bean class="io.netty.handler.logging.LoggingHandler">
        <constructor-arg name="level">
            <ref bean="logLevel"/>
        </constructor-arg>
    </bean>

    <bean id="logLevel" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="io.netty.handler.logging.LogLevel.DEBUG"/>
    </bean>

    <bean class="cc.changic.platform.etl.protocol.codec.marshalling.MarshallingCodecFactory">
        <constructor-arg name="factoryName" value="serial"/>
        <constructor-arg name="version" value="5"/>
        <constructor-arg name="maxObjectSize" value="32767"/>
    </bean>

    <bean class="cc.changic.platform.etl.protocol.stream.ChunkDataConfiguration">
        <property name="chunkSize" value="2097152"/>
    </bean>
</beans>